body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.calc-container{
    position:relative;
    margin: auto;
    max-width: fit-content;
}

p.label{
    background-color: #aaa;
    font-size: x-large;
    min-height: 30px;
}

p.shortcuts{
    font-size: x-large;
    color: white;
}

li{
    color: white;
    font-size: x-large ;
}

button
{
    width: 50px;
    font-size: larger;
}